    <div class="container" role="navigation">
     <ol class="breadcrumb">
         <li><a href="#">Home</a></li>
         <li><a href="#">Library</a></li>
         <li class="active">Data</li>
     </ol>
    </div>

    <div class="container">
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-12 col-sm-9">
                Service Details
                <br />
                Name: {{service.name}}<br />
                Type: {{service.type}}<br />
                <br />
                <ul>
                    <li ng-repeat="instance in service.instances | orderBy:'hostname'">
                        {{instance.registration.environment}} / {{instance.registration.hostname}} ({{instance.active ? 'Online' : 'Offline'}})
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas">
                Nav<br />
                <ul>
                    <li ng-repeat="notification in notifications track by $index">
                        {{notification}}
                    </li>
                </ul>
            </div>
        </div>
        
        <hr>

        <footer>
            <p>&copy; Z|NET Development, LLC 2013</p>
        </footer>
    </div>
</div>
